/* Countries Section CSS Start */

.countries-wrapper {
  padding: 130px 0 80px;
}

.countries-top h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--dark);
}

.countries-search-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
  background: #f8f8f8;
  padding: 15px 25px;
  border: 1px solid #e9e9e9;
  border-radius: 30px;
}

.countries-search-field input {
  width: 90%;
  background: transparent;
  border: none;
}

.countries-search-field button {
  color: #6e6e6e;
  background: transparent;
  border: none;
}

.countries-search-field input:focus {
  outline: 0;
}

.countries-search-field ::placeholder {
  font-size: 18px;
  color: #7c7c7c;
}

.countries-card {
  background: var(--light);
  padding: 40px 40px 20px;
  box-shadow: 0px 0px 20px #00000014;
  border-radius: 10px;
}

.countries-flag {
  max-width: 47px;
  width: 100%;
  min-height: 40px;
  max-height: 40px;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0px 3px 6px #00000029;
}

.countries-flag img {
  width: 100%;
  height: 100%;
}

.country-name-and-flag h3 {
  font-size: 26px;
  font-weight: 700;
  color: var(--dark);
  padding-left: 20px;
  margin-bottom: -8px;
}

.countries-card h4 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark);
  padding: 40px 0 20px;
  margin: 0;
}

.countries-card hr {
  border-top: 1px solid #e9e9e9;
  opacity: 1;
}

.countries-social ul li a i {
  font-size: 23px;
  color: #79838f;
}

/* Countries Section CSS End */

/* Countries Page Responsive CSS */

@media (min-width: 992px) and (max-width: 1199px) {
  .countries-top h2 {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .countries-top h2 {
    font-size: 36px;
  }

  .country-name-and-flag h3 {
    font-size: 24px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .countries-top h2 {
    font-size: 30px;
  }

  .country-name-and-flag h3 {
    font-size: 22px;
  }

  .countries-card h4 {
    font-size: 18px;
  }
}
