/* Hero Section CSS Start */

.hero-wrapper {
  margin-top: 75px;
}

.slide-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  height: 100%;
  color: #fff;
}

.slide-1 {
  background: linear-gradient(#011e3680, #011e3680),
    url(../images/home/hero-slider1.png);
}
.slide-2 {
  background: linear-gradient(#011e3680, #011e3680),
    url(../images/home/hero-slider1.png);
}
.slide-3 {
  background: linear-gradient(#011e3680, #011e3680),
    url(../images/home/hero-slider1.png);
}

.slide-1,
.slide-2,
.slide-3 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  padding-bottom: 100px;
}

.hero-content h4 {
  font-size: 30px;
}

.hero-content h1 {
  font-size: 70px;
  padding: 10px 0;
}

.hero-content h5 {
  font-size: 20px;
}

.hero-slider .slick-prev.slick-arrow,
.hero-slider .slick-next.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 25px;
  color: #cbcbcb;
  background: #0000005e;
  cursor: pointer;
  z-index: 1;
}

.hero-slider .slick-prev.slick-arrow {
  left: 0;
}

.hero-slider .slick-next.slick-arrow {
  right: 0;
}

.hero-slider .slick-dots {
  bottom: 170px;
}

.hero-slider .slick-dots li button {
  background: #8797a8;
  font-size: 0px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  margin: 0 3px;
}

.hero-slider .slick-dots li.slick-active button {
  background: var(--primary);
}

/* Hero Section CSS End */

/* Success States Section CSS Start */

.success-container {
  position: relative;
  background: var(--light);
  margin-top: -130px;
  box-shadow: 0px 8px 40px #00000014;
  border-radius: 10px;
}

.our-pride {
  position: relative;
  height: 100%;
  background: var(--secondary);
  padding: 30px;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

.our-pride::after {
  position: absolute;
  content: "";
  width: 105px;
  height: 120%;
  top: -30px;
  right: -60px;
  transform: rotate(18deg);
  background: var(--light);
}

.our-pride h4 {
  font-size: 30px;
  color: var(--light);
}

.our-pride h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 55px;
  color: var(--light);
  margin: 0;
}

.success-states-card {
  text-align: center;
}

.success-states-card h1 {
  font-size: 70px;
  font-weight: 700;
  color: #45586c;
}

.success-states-card p {
  font-size: 18px;
  color: var(--dark);
}

/* Success States Section CSS End */

/* Vision Section CSS Start */

.vision-wrapper {
  padding: 100px 0;
}

.vision-card {
  height: 100%;
  background: var(--light);
  padding: 50px 30px;
  margin: 0 10px;
  box-shadow: 0px 8px 40px #00000014;
  border-radius: 10px;
}

.vision-card p {
  font-size: 18px;
  color: var(--dark);
  padding-top: 30px;
  margin: 0;
}

.vision-btn {
  padding-top: 70px;
}

/* Vision Section CSS End */

/* Home Blog Section CSS Start */

.home-blog-wrapper {
  background: #f7f7f7;
  padding: 100px 0;
}

.home-blog-title {
  max-width: 950px;
  width: 100%;
  padding-bottom: 50px;
}

.home-blog-title h3 {
  font-size: 40px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 20px;
}

.home-blog-title p {
  font-size: 18px;
  color: var(--dark);
  margin: 0;
}

.home-blog-left-img img {
  width: 100%;
  min-height: 455px;
  max-height: 455px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.home-blog-left-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 50px 20px 20px 20px;
  width: 100%;
  background: linear-gradient(180deg, #00000000 0%, #000000b8 100%);
  border-radius: 0px 0px 10px 10px;
}

.home-blog-left-content h4 {
  font-size: 25px;
  color: var(--light);
  margin: 0;
}

.home-blog-left-content h6 {
  font-size: 20px;
  color: var(--light);
  margin: 0;
}

.home-blog-left-content a {
  font-size: 18px;
  color: var(--light);
}

.home-blog-left-content a i {
  font-size: 12px;
  padding-left: 5px;
}

.row.home-right-blog-card {
  padding-bottom: 25px;
}

.home-right-blog-img img {
  width: 100%;
  min-height: 135px;
  max-height: 135px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.home-right-blog-content h5 {
  font-size: 20px;
  font-weight: 700;
  color: var(--dark);
}

.home-right-blog-content p {
  font-size: 14px;
  color: var(--gray);
  margin: 0;
}

.home-right-blog-content a {
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary);
}

.home-right-blog-content a i {
  font-size: 14px;
  padding-left: 5px;
}

.explore-more-btn a {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary);
}

.explore-more-btn a i {
  font-size: 14px;
  padding-left: 10px;
}

/* Home Blog Section CSS End */

/* Sponsor Section CSS Start */

.sponsor-wrapper {
  padding-top: 120px;
}

.sponsor-slider {
  padding: 60px 0 30px;
}

.sponsor-logo img {
  margin: auto;
  text-align: center;
}

.become-sponsor-btn {
  padding-top: 80px;
}

/* Sponsor Section CSS End */

/* Home Event Section CSS Start */

.home-event-wrapper {
  padding-top: 120px;
}

.home-event-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.home-event-content {
  position: relative;
  width: 50%;
  min-height: 530px;
  max-height: 530px;
  height: 100%;
  padding: 60px 50px;
  background: var(--secondary);
  z-index: 1;
}

.home-event-content::after {
  position: absolute;
  content: "";
  top: -85px;
  right: -37px;
  width: 165px;
  height: 125%;
  transform: rotate(7deg);
  background: var(--secondary);
  z-index: -1;
}

.home-event-content h5 {
  font-size: 20px;
  color: var(--light);
}

.home-event-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--light);
  padding: 10px 0 5px;
}

.home-event-content h6 {
  font-size: 18px;
  font-weight: 400;
  color: var(--light);
  margin-bottom: 20px;
}

.home-event-content h6 i {
  padding-right: 10px;
}

.home-event-content p {
  font-size: 18px;
  color: var(--light);
}

.home-event-img {
  width: 50%;
}

.home-event-img img {
  width: 100%;
  min-height: 530px;
  max-height: 530px;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.all-events-btn a {
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary);
}

.all-events-btn a i {
  font-size: 14px;
  padding-left: 10px;
}

.home-event-slider .slick-dots {
  bottom: -35px;
}

/* Home Event Section CSS End */

/* Mananets Players Section CSS Start */

.mamanets-players-wrapper {
  padding-top: 120px;
}

.mamanets-players-card {
  height: 100%;
  background: var(--light);
  margin: 0 15px;
  box-shadow: 0px 8px 40px #00000014;
  border-radius: 10px;
}

.mamants-players-card-img {
  position: relative;
  padding: 10px;
}

.mamants-players-card-img > img {
  width: 100%;
  min-height: 360px;
  max-height: 360px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.mamanets-country-flag {
  position: absolute;
  left: 20px;
  bottom: -13px;
  background: var(--light);
  padding: 5px;
  box-shadow: 0px 6px 6px #00000033;
  border-radius: 7px;
}

.mamanets-country-flag img {
  width: 54px;
  height: 36px;
  object-fit: cover;
}

.mamanets-players-card-content {
  padding: 40px 20px 20px 20px;
}

.mamanets-players-card-content h4 {
  font-size: 26px;
  font-weight: 700;
  color: var(--dark);
  margin: 0;
}

.mamanets-players-card-content h6 {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
}

.mamanets-players-card-content p {
  font-size: 18px;
  color: var(--dark);
  margin: 0;
}

.mamanets-players-slider .slick-prev.slick-arrow {
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}

.mamanets-players-slider .slick-next.slick-arrow {
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
}

/* Mananets Players Section CSS End */

/* Faq Section CSS Start */

.faq-wrapper {
  padding-top: 120px;
}

.faq-content h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--dark);
  margin-bottom: 20px;
}

.accordion-item {
  border: 1px solid #e9e9e9;
}

.accordion-button {
  font-size: 18px;
  color: var(--dark);
  padding: 10px 0 !important;
  margin: 10px 0;
}

.accordion-button:focus {
  border: none;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  font-size: 18px;
  color: var(--primary);
  background: none;
  box-shadow: none;
}

.accordion-button::after {
  background-image: url(../images/home/plus.svg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../images/home/minus.svg);
  margin-top: -20px;
}

.accordion-body p {
  font-size: 18px;
  color: var(--dark);
  margin: 0;
}

.faq-img {
  margin-left: 40px;
}

.faq-img img {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Faq Section CSS End */

/* Newsletter Section CSS Start */

.newsletter-wrapper {
  padding: 150px 0 120px;
}

.newsletter-content::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #45576b9a;
  border-radius: 10px;
}

.newsletter-content-img img {
  width: 100%;
  min-height: 430px;
  max-height: 430px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.newsletter-content-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.newsletter-content-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--light);
}

.newsletter-learn-more-btn a {
  font-size: 18px;
  color: var(--light);
}

.newsletter-learn-more-btn a i {
  font-size: 14px;
  padding-left: 10px;
}

.newsletter-form-wrapper {
  min-height: 430px;
  max-height: 430px;
  height: 100%;
  background: url(../images/home/newsletter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-form-content {
  text-align: center;
  padding-top: 70px;
}

.newsletter-form-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--dark);
}

.newsletter-form-content p {
  font-size: 18px;
  color: var(--dark);
}

.newsletter-form-field {
  max-width: 350px;
  width: 100%;
  margin: auto;
}

.newsletter-form-field input {
  width: 100%;
  background: var(--light);
  text-align: center;
  padding: 16px;
  margin-top: 10px;
  border: 2px solid #e9e9e9;
  border-radius: 7px;
}

.newsletter-form-field input:focus {
  outline: none;
}

.submit-btn {
  color: var(--light);
  background: var(--primary) !important;
}

/* Newsletter Section CSS End */

/* Home Page Responsive CSS */

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-content h1,
  .success-states-card h1 {
    font-size: 56px;
    line-height: 60px;
  }

  .our-pride::after {
    top: -20px;
    right: -68px;
  }

  .our-pride h2 {
    font-size: 40px;
    line-height: 45px;
  }

  .home-event-content h2 {
    font-size: 36px;
  }

  .home-event-content p {
    font-size: 16px;
  }

  .newsletter-content-text h1,
  .newsletter-form-content h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-content h1,
  .success-states-card h1 {
    font-size: 48px;
    line-height: 50px;
  }

  .our-pride {
    border-radius: 10px 10px 0 0;
  }

  .our-pride::after {
    display: none;
  }

  .our-pride h2 {
    font-size: 36px;
    line-height: 40px;
  }

  .home-blog-title h3 {
    font-size: 36px;
  }

  .home-event-container {
    flex-direction: column;
  }

  .home-event-content::after {
    display: none;
  }

  .home-event-content,
  .home-event-img {
    width: 100%;
  }

  .home-event-content h2 {
    font-size: 36px;
  }

  .home-event-content p {
    font-size: 16px;
  }

  .home-event-img img {
    border-radius: 0 0 10px 10px;
  }

  .mamanets-players-card-content h4 {
    font-size: 24px;
  }

  .faq-content h1 {
    font-size: 36px;
  }

  .faq-img {
    margin-left: 0px;
  }

  .accordion-button {
    font-size: 16px;
  }

  .accordion-button:not(.collapsed) {
    font-size: 16px;
  }

  .newsletter-content-text h1,
  .newsletter-form-content h1 {
    font-size: 36px;
  }
}

@media (min-width: 300px) and (max-width: 767px) {
  .hero-content h4,
  .our-pride h4 {
    font-size: 24px;
  }

  .hero-content h1,
  .success-states-card h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .hero-content h5,
  .home-right-blog-content h5 {
    font-size: 18px;
  }

  .our-pride {
    border-radius: 10px 10px 0 0;
  }

  .our-pride::after {
    display: none;
  }

  .our-pride h2 {
    font-size: 28px;
    line-height: 32px;
  }

  .vision-card {
    margin: 0;
  }

  .home-blog-title h3 {
    font-size: 30px;
  }

  .home-blog-left-img img {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    height: 100%;
  }

  .home-blog-left-content h4 {
    font-size: 20px;
  }

  .home-blog-left-content h6 {
    font-size: 18px;
    padding: 10px 0;
  }

  .home-blog-left-content a {
    font-size: 16px;
  }

  .home-right-blog-img img {
    min-height: 150px;
    max-height: 150px;
    height: 100%;
  }

  .home-event-container {
    flex-direction: column;
  }

  .home-event-content::after {
    display: none;
  }

  .home-event-content,
  .home-event-img {
    width: 100%;
  }

  .home-event-content {
    padding: 40px 30px;
  }

  .home-event-img {
    min-height: 350px;
    max-height: 350px;
    height: 100%;
  }

  .home-event-content h2 {
    font-size: 30px;
  }

  .home-event-content p {
    font-size: 16px;
  }

  .home-event-img img {
    border-radius: 0 0 10px 10px;
  }

  .mamants-players-card-img > img {
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    height: 100%;
    object-fit: cover;
  }

  .mamanets-players-card-content h4 {
    font-size: 22px;
  }

  .mamanets-players-card-content h6 {
    font-size: 18px;
  }

  .mamanets-players-card-content p {
    font-size: 16px;
  }

  .mamanets-players-slider .slick-prev.slick-arrow {
    left: -20px;
  }

  .mamanets-players-slider .slick-next.slick-arrow {
    right: -20px;
  }

  .faq-content h1 {
    font-size: 30px;
  }

  .faq-img {
    margin-left: 0px;
  }

  .faq-img img {
    min-height: 350px;
    max-height: 350px;
    height: 100%;
  }

  .accordion-button {
    font-size: 16px;
  }

  .accordion-button:not(.collapsed) {
    font-size: 16px;
  }

  .newsletter-content-text h1,
  .newsletter-form-content h1 {
    font-size: 30px;
  }

  .newsletter-content-img img {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    height: 100%;
  }
}
